
.cards{
    
    display: grid;
    align-items: center;
    justify-content:space-around;
    grid-template-columns: auto auto auto auto;
} 
.row1 {
    background: #2b012b;
    border-radius: 25px 25px 0 0;
}
.row1 h4{
    margin-top: -3vh;
    padding: 4vh 1vw;
}

.row2 {
    background-color: #020716f5;
    padding: 2vh 1vw;
    border-radius:0 0 25px 25px;
}

.card{
    width: 14vw;
    height: auto;
    margin:5vh 2vw;
   
}

@media only screen and (max-width: 600px) {
 

.cards{
    grid-template-columns: auto auto ;
}

.card{
    width: 30vw;
    height: auto;
}
.row1 h4{
    padding: 2vh 3vw;
    font-size: 3.2vw;
}



}