@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

.title-chart {  
    font-family: 'Baloo Paaji 2',
    
}

.first_Chart{
    background-color: transparent;
    padding: 5px;
}
 
.myPieChart {
    padding: 20px;
    width: 45vw;
    height: auto;
    
}
.PieContent, .BarContent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.chart {
    background: transparent;
}



.space-tb input{
    margin: 6vh 1.5vw ;
}


.myBarChart {
    width: 70vw;
    height: auto;
}

#select_year, #select_month, .input,.space-tb button  {
    text-align: center;
    background: rgba(38, 4, 60, 0.651); color:#fff; border-radius: 25px; padding: 1px 10px;
}

@media only screen and (max-width: 650px) {
    .myBarChart ,.myLineChart {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.myLineChart {
    margin-left: -32px;
    padding: 5px;
}

.myPieChart {
    width: 95vw;
    height: auto;
}

.chart {
    margin: 5vh 0 5vh -8px;
}

.title-chart {
   font-size: .6em;
}


}


