.contact-page-container {
    box-sizing: border-box;
    background:linear-gradient(#8a0d50,#0d0222);
}



.content-contact {
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    height: 85vh auto;
    margin: 8vh 5vw;
    border-radius: 25px;
    background: linear-gradient(30deg, rgb(22, 6, 44) 60%, #a74242);
    overflow: hidden;
    box-shadow: 20px 20px 60px rgba(255, 255, 255, 0.259),
    -20px -20px 60px rgba(135, 16, 16, 0.488);
}

.wrap-left-vs, .wrap-right-vs {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 4vh 5vw;
}



.form-input{
    background-color: transparent;
    padding: 8px;
    margin-top: 5vh;
    border: none;
}

input[type="text"] {
    outline: none;
    border-bottom: 1px solid #fff;
}

#message {
    border-radius: 5px;
    border: 1px solid #fff;
    resize: none;
}

.owner-info-vs h4{
    font-weight: 200;
    line-height: 2.5em;
    cursor: pointer;
}



.mb5-vs {
    margin-bottom: 5vh;
}

.mt-5-vs {
    margin: 5vh;
}

.mt-less-5-vs {
    margin-top: -5vh;
}

.owner-info-vs h4 > span {
    color: #a26060;
}






@media only screen and (max-width: 700px) {
    .wrap-left-vs,
    .wrap-right-vs {
        flex-direction: column;
    }

    .content-contact {
        width: 90vw;
    }
}