.wrap-top {
background: url(../../images/bg4.svg);
}


.home-top-container-vs {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #260c2689;
  
}



.TopContents {
    margin-top: 9.5vh;
}

.landing-page-title {
   margin: 15vh 0 0 5vw;
   color: #dfb8df;
   height: 5vh;
}

.landing-page-title h4{
    border-right: 2px solid orange;
    font-size: 1.5em;
}


.design {
    width: 100%;
    min-height: 50vh;
    animation: bounce 2s ease-in infinite alternate-reverse both;
    padding: 10vh 2vw;
}



.design img {
    width: 100%;
    height: 50vh;
}

@keyframes bounce {
   0% {
  transform: translateY(5vh);
}
100% {
  transform: translateY(0px);
}
   
}

@-webkit-keyframes bounce {
   0%, 20%, 50%, 80%, 100% {
       transform: translateY(0);
   }
   40% {
       transform: translateY(-30px);
   }
   60% {
       transform: translateY(-15px);
   }
}

@media only screen and (max-width: 600px) {

.home-top-container-vs {
    grid-template-columns: auto;
}

}




