.message-card-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-left: 17vw;
    padding: 5vh 8vw;

}

.message-card {
    width: auto;
    height: auto;
    background-color: #240424;
    display: grid;
    grid-template-columns: auto auto;
}

.name {
    color: rgb(196, 235, 213);
}


.partOne,.partTwo {
    padding: 25px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}



.partOne{
    background: linear-gradient(-120deg, #c80c7aa3,#e3168da3,#1a0132);
}


.partOne img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 20px;
    box-shadow: 0 10px 50px rgb(114, 99, 227);
}

.partTwo {
    background: linear-gradient(30deg, #1a0132,#16042a);
}

.partTwo span {
    margin-top: 5vh;
}



@media only screen and (max-width: 600px) {

    .message-card {
        grid-template-columns:auto;

    }
    
    .partOne,
    .partTwo {
        font-size: medium;
    }
    
}