nav {
    width: 100vw;
    min-height: 8vh;
    position: sticky;
    background: rgba(138, 11, 138, 0.404);
    color: #fff;
    overflow: hidden;
    top: 0;
    display: flex;
    justify-content: center;
}

nav > ul {
    margin-left: -5vw;
}

nav > ul > li {
    display: inline-block;
    margin: 4vh 5vw;
    list-style: none;
    cursor: pointer;
    padding-bottom: 1px;
}

nav>ul>li:nth-child(0) {
    margin-left: 10vw;
}

#LogoImage {
    width: 45px;
    height: 45px;
    margin: 2vh 0 2vh -130px;
    padding: 0;
    background-color: transparent;
    border-radius: 8px;
}

.btn {
  border: none;
  cursor: pointer;
   color: rgb(220, 216, 231);
   text-decoration: none;
}

.btn-logout {
    padding: 0px 15px;
    background-color: transparent;
    font-size: 16px;
}

.active, .btn:hover {
  border-bottom: 4px solid rgb(214, 50, 105);
  color:#fff;
}

Link{
    text-transform: uppercase;
    text-decoration: none;
}



@media only screen and (max-width: 600px) {

nav>ul>li {
    margin: 2vh 5vw;
}
nav>ul>li:nth-child(1){
    margin-left: 16px;
}

#LogoImage {
    width: 40px;
    height: 40px;
    margin: 2vh 0 2vh 15px;
   
}

}