
.container-top {
    background: linear-gradient(30deg,rgb(134, 50, 136) 10%, rgb(15, 2, 27) );
}
input[type='button'] {
    padding: 5px 15px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid #ffa500;
    
}

input[type='button']:hover {
    background-color: #fff;
    color: rgb(127, 44, 160);
}

.title {
    padding: 10vh 0 10vh 0;
}
